html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(30, 30, 30, 1);
  background-size: cover;
}

.page-container {
  width: 100%;
  height: 100vh;
  color: aliceblue;
}

.mode-container {
  margin-bottom: 3rem;
}

.mode-container p:hover {
  cursor: pointer;
  transition: 0.3s;
  color: rgb(211, 211, 211);
}

.mode-info {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: blueviolet;
  margin-bottom: 0.5rem;
  padding: 1px 5px;
  height: 50px;
  gap: 10px;
  border-radius: 3px;
  font-size: larger;
  font-family: fantasy;
  text-shadow: 1px 2px 2px #000 !important;
  letter-spacing: 1px;
}

.mode-info p {
  margin: 0;
}

.maps-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
  width: 97%;
  margin: auto;
}

.picture {
  position: relative;
  display: flex;
  justify-content: center;
}

.picture img:hover {
  cursor: pointer;
  filter: brightness(0.75);
  transition: 0.3s;
}

.map-name {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: small;
  background-color: #000;
  padding: 2px;
  font-family: fantasy;
  letter-spacing: 1px;
}

@media (max-width: 1000px) {
  .maps-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .map-name {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .mode-container {
    width: 350px;
  }

  .maps-container img {
    width: 150px;
  }

  .map-name {
    font-size: 10px;
  }

  .maps-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gamemodes-wrapper {
  .filter {
    float: right;
    padding-bottom: 2vh;

    img {
      width: 3vw;
      height: 4vh;
      padding: 5px;
      border: 1px solid rgba(255, 255, 255, 0.417);
      margin-left: 1vw;
    };

    img:hover {
      background-color: rgba(255, 255, 255, 0.24);
    }

    input {
      background-color: transparent;
      border: 1px solid white;
      color: white;
    }

    input::placeholder {
      color: rgba(255, 255, 255, 0.579)
    }
  }
}